.mainbody {
	background: linear-gradient(to top, #00000066, #0000066), url("https://gamertrip.info/assets/404/404BG.webp") no-repeat top center;
	background-size: cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-color:#070B1F;
	padding-right:1.32vw;
	padding-left:1.32vw;
	text-align:center;
	background-position:50% 100%;
}

@font-face {
    font-family: 'interregular';
    src: url('Inter-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
    font-family: 'interbold';
    src: url('Inter-Bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
}

.maindiv {
	margin-bottom:calc(78.5vh - 1.8vw - 85px);
	padding-bottom:calc(14px + .3621vw);
	padding-top:calc(14px + .3621vw);
}

.subtitle {
	font-size:calc(18px + .45vw);
	text-align:center;
}

.sidediv {
	border:calc(2px + .15vw) solid #660606; 
	padding:calc(12px + .3521vw);
	padding-top:calc(16px + .4vw);
	backdrop-filter: blur(calc(8px + .3vw));
	background-color:#070B1F00; 
	border-radius:calc(16px + 1.75vw); 
	box-shadow: 0 35px 68px 0 #070b1d80, inset 0 -8px 16px 0 #070b1d99, inset 0 5px 15px 0 #070b1d;
	animation:mouseaway;
	animation-duration: .15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	margin-bottom:calc(14px + .3621vw);
}

.sidediv:hover {
	animation-name:mouseover;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

p {
	color:white; 
	font-family:'interregular', Arial; 
	text-align:center; 
	font-size:calc(18px + .5vw);
	line-height:150%;
	padding-right:calc(18px + 1vw);
	padding-left:calc(20px + 1.5vw);
}

h1 {
	font-size:calc(38px + 2vw);
	color:white; 
	font-family:'interbold', Arial;
	font-weight:700;
	text-align:center;
	animation:titleaway;
	animation-duration:.1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	display:inline;
}

h1:hover {
	animation:title;
	animation-duration:.15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

a {
	font-family:'interregular', Arial; 
	color:#D7B8F3;
	font-size:calc(18px + .5vw);
	animation:mouseawaylink;
	animation-duration: .15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

a:hover {
	color:#D4F3B9; 
	text-decoration:none;
	animation:mouseoverlink;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

a:focus {
	color:#D4F3B9; 
	text-decoration:underline dashed;
}

/* loading different resolutions depending on screen size, anything higher than 1080p just loads the original quality */

/* 1080p */
@media screen and (max-width:2000px) {
	.mainbody {
		background: linear-gradient(to top, #00000066, #00000066), url("https://gamertrip.info/assets/404/404BG_1080p(2000w).webp") no-repeat top center;
		background-size: cover;
		background-attachment:fixed;
		background-repeat:no-repeat;
		background-color:#070B1F;
		background-position:50% 100%;
	}
}

/* usually mobile */
@media screen and (max-width:450px) {
	.mainbody {
		background: linear-gradient(to top, #00000066, #00000066), url("https://gamertrip.info/assets/404/404BG_850h.webp") no-repeat top center;
		background-size: cover;
		background-attachment:fixed;
		background-repeat:no-repeat;
		background-color:#070B1F;
		background-position:50% 100%;
	}
}


/* disabling animations for people with reduced motion on */
@media (prefers-reduced-motion: no-preference) {

@keyframes title {
	from {color:white;}
	to   {color:#4cffbc;}
}

@keyframes titleaway {
	from {color:#4cffbc;}
	to   {color:white;}
}

@keyframes mouseover {
	from {background-color: #00000000; backdrop-filter: blur(calc(8px + 0.3vw))}
	to   {background-color: #00000033; backdrop-filter: blur(calc(10px + 0.35vw))}
}

@keyframes mouseaway {
	from {background-color: #00000033; backdrop-filter: blur(calc(10px + 0.35vw))}
	to   {background-color: #00000000; backdrop-filter: blur(calc(8px + 0.3vw))}
}

@keyframes mouseoverlink {
	from {color:#D7B8F3;}
	to   {color:#D4F3B9;}
}

@keyframes mouseawaylink {
	from {color:#D4F3B9;}
	to   {color:#D7B8F3;}
}

}
