.mainbody {
	background: linear-gradient(to top, #070B1F66, #070B1F33), url("https://gamertrip.info/assets/home/mainBG.webp") no-repeat top center;
	background-size: cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-color:#070B1F;
	padding-right:1.32vw;
	padding-left:1.32vw;
	text-align:center;
	background-position:50% 100%;
}

@font-face {
    font-family: 'interregular';
    src: url('Inter-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
    font-family: 'interbold';
    src: url('Inter-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
}

.maindiv {
	margin-bottom:calc(17vh + 17.3vw - 40px);
	padding-bottom:calc(14px + .3621vw);
	padding-top:calc(14px + .3621vw);
}

.subtitle {
	font-size:calc(18px + .45vw);
	text-align:center;
}

.sidediv {
	border:calc(2px + .15vw) solid #660606; 
	padding:calc(12px + .3521vw);
	backdrop-filter: blur(calc(8px + .3vw));
	background-color:#070B1F00; 
	border-radius:calc(16px + 1.75vw); 
	box-shadow: 0 35px 68px 0 #070b1d80, inset 0 -8px 16px 0 #070b1d99, inset 0 5px 15px 0 #070b1d;
	animation:mouseaway;
	animation-duration: .15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	margin-bottom:calc(14px + .3621vw);
}

.sidediv:hover {
	animation-name:mouseover;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

p {
	color:white; 
	font-family:'interregular', serif; 
	text-align:left; 
	font-size:calc(13px + .3vw);
	line-height:150%;
	padding-right:calc(18px + 1vw);
	padding-left:calc(20px + 1.5vw);
}

h1 {
	font-size:calc(34px + 1vw);
	color:white; 
	font-family:'interbold', serif;
	font-weight:700;
	text-align:center;
	margin-bottom:0.32vw;
	animation:titleaway;
	animation-duration:.1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

h1:hover {
	animation:title;
	animation-duration:.15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

h2 {
	color:white; 
	font-family:'interbold', serif;
	font-size:calc(19px + .4621vw);
	text-align:left;
	padding-top:calc(4px - .1vw);
	padding-right:calc(16px + .4vw);
	padding-left:calc(10px + .8vw);
	animation:titleaway;
	animation-duration:.1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

h2:hover {
	animation:title;
	animation-duration:.15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}


a {
	font-family:'interregular', serif; 
	color:#D7B8F3;
	font-size:calc(13px + .3vw);
	animation:mouseawaylink;
	animation-duration: .15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

a:hover {
	font-family:'interregular', serif; 
	color:#D4F3B9; 
	text-decoration:none;
	animation:mouseoverlink;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

a:focus {
	font-family:'interregular', serif; 
	color:#D4F3B9; 
	text-decoration:underline dashed;
}

.footertxt {
	color:white; 
	font-family:'interregular', serif;
	font-size:calc(19px + .3vw);
	text-align:left;
}

img.cats {
	border:calc(5px + .05vw) solid #520707;
	border-radius:calc(16px + 1.75vw);
	animation:mouseawaycats;
	animation-duration: .15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	max-width: 22.29w;
}

img.cats:hover {
	animation:mouseovercats;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

.discord {
	max-width:calc(12px + .40621vw);
	height:auto;
}

/* loading different resolutions depending on screen size, anything higher than 1080p just loads the original quality */

/* 1080p */
@media screen and (max-width:2000px) {
	.mainbody {
		background: linear-gradient(to top, #070B1F66, #070B1F33), url("https://gamertrip.info/assets/home/mainBG_1080p(2000w).webp") no-repeat top center;
		background-size: cover;
		background-attachment:fixed;
		background-repeat:no-repeat;
		background-color:#070B1F;
		background-position:50% 100%;
	}
}

/* usually mobile */
@media screen and (max-width:450px) {
	.mainbody {
		background: linear-gradient(to top, #070B1F66, #070B1F33), url("https://gamertrip.info/assets/home/mainBG_850h.webp") no-repeat top center;
		background-size: cover;
		background-attachment:fixed;
		background-repeat:no-repeat;
		background-color:#070B1F;
		background-position:50% 100%;
	}
}


/* disabling animations for people with reduced motion on */
@media (prefers-reduced-motion: no-preference) {

@keyframes title {
	from {color:white;}
	to   {color:#4cffbc;}
}

@keyframes titleaway {
	from {color:#4cffbc;}
	to   {color:white;}
}

@keyframes mouseovercats {
	from {border:calc(5px + .05vw) solid #520707;}
	to   {border:calc(5px + .05vw) solid #000000;}
}

@keyframes mouseawaycats {
	from {border:calc(5px + .05vw) solid #000000;}
	to   {border:calc(5px + .05vw) solid #520707;}
}

@keyframes mouseover {
	from {background-color: #070b1f00; backdrop-filter: blur(calc(8px + 0.3vw))}
	to   {background-color: #070b1f33; backdrop-filter: blur(calc(10px + 0.35vw))}
}

@keyframes mouseaway {
	from {background-color: #070b1f33; backdrop-filter: blur(calc(10px + 0.35vw))}
	to   {background-color: #070b1f00; backdrop-filter: blur(calc(8px + 0.3vw))}
}

@keyframes mouseoverlink {
	from {color:#D7B8F3;}
	to   {color:#D4F3B9;}
}

@keyframes mouseawaylink {
	from {color:#D4F3B9;}
	to   {color:#D7B8F3;}
}

}


/* VV this CSS is by multiwebpress, thanks! VV */


.inner-width{
	margin: auto;
}

.gallery-section .gallery a {
	padding:calc(10px + .1vw);
}

.gallery-section .gallery{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
}

.gallery-section .image{
	flex: 20%;
	overflow: hidden;
	cursor: pointer;
	border-radius:calc(16px + 1.75vw);
}

.gallery-section .image img{
  max-width: 100%;
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 20%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 45%;
  }


@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 30%;
  }
}


/* ^^ the end of the multiwebpress CSS, thanks again! */
