body {
	text-align:center;
	background-color:black; 
	background-repeat:no-repeat; 
	background-attachment:fixed; 
	background-size:cover;
}

p {
	color:white; 
	font-family:'Inter', serif; 
	text-align:left; 
	font-size:calc(10px + 0.40621vw);
}

h1 {
	color:white; 
	font-size:calc(48px + .40621vw); 
	font-weight:bold; 
	font-family:'Inter', serif;
	font-weight:700;
	text-align:center;
	margin-bottom:0.32vw;
}

h2, h3, h4, h5, h6 {
	color:white; 
	font-family:'Inter', serif;
	font-weight:700;
	font-size:calc(18px + 0.4621vw);
	text-align:left;
	padding-top:0.64vw;
	padding-right:2.64vw;
	padding-left:2.64vw;
}

a {
	font-family:'Inter', serif; 
	color:#D7B8F3;
	font-size:calc(10px + .4621vw);
	font-weight:400;
}

a.subtitle {
	font-family:'Inter', serif; 
	color:#D7B8F3;
	font-size:calc(13px + .4621vw);
	font-weight:400;
}

a:hover {
	font-family:'Inter', serif; 
	color:#D4F3B9; 
	text-decoration:none;
}

a:focus {
	font-family:'Inter', serif; 
	color:#D4F3B9; 
	text-decoration:underline dashed;
}

p.space {
	color:white; 
	font-family:'Inter', serif; 
	text-align:left; 
	font-size:calc(10px + 0.40621vw); 
	line-height:150%;
	padding-right:3.96vw;
	padding-left:3.96vw;
}

div.maindiv {
	margin-bottom:15.36vw;
	padding-bottom:1.1712vw;
	padding-top:1.1712vw;
}

.notmain {
	border:0.2184vw solid #660606; 
	padding:0.624vw; 
	border-spacing:0.936vw; 
	backdrop-filter: blur(0.5vw); 
	background-color:#070B1F00; 
	border-radius: 2.32vw; 
	box-shadow: 0px 35px 68px 0px rgba(7, 11, 29, 0.5), inset 0px -8px 16px 0px rgba(7, 11, 29, 0.6), inset 0px 5px 15px 0px rgb(7, 11, 29);
	animation:mouseaway;
	animation-duration: 0.15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	margin-bottom:1.56vw;
}

.notmain:hover {
	border:0.2184vw solid #1D1907; 
	padding:0.624vw; 
	border-spacing:0.936vw; 
	backdrop-filter: blur(0.5vw); 
	background-color:#070B1F00; 
	border-radius: 2.32vw; 
	box-shadow: 0px 35px 68px 0px rgba(7, 11, 29, 0.5), inset 0px -8px 16px 0px rgba(7, 11, 29, 0.6), inset 0px 5px 15px 0px rgb(7, 11, 29);
	animation-name:mouseover;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	margin-bottom:1.56vw;
}

@keyframes mouseover {
	from {background-color: rgba(7, 11, 31, 0); border:0.35rem solid #660606;}
	to   {background-color: rgba(7, 11, 31, 0.2); border:0.35rem solid #520707;}
}

@keyframes mouseaway {
	from {background-color: rgba(7, 11, 31, 0.2); border:0.35rem solid #520707;}
	to   {background-color: rgba(7, 11, 31, 0); border:0.35rem solid #660606;}
}

body.mainbody {
	background: linear-gradient(to top, #070B1F66, #070B1F33), url("https://media.gamertrip.info/mainBG_M.webp") no-repeat top center;
	background-size: cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-color:#070B1F;
	padding-right:1.32vw;
	padding-left:1.32vw;
}

/* this CSS is by W3Schools, thanks! */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 6.1875rem;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 23%;
  max-width: 25%;
  padding: 0 1rem;
}

.column img {
  margin-top: 1rem;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* the end of the W3Schools CSS, thanks again! */

img.cats {
	border:0.35rem solid #520707;
	border-radius:60px;
	animation:mouseawaycats;
	animation-duration: 0.15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	max-width:100%;
	height:auto;
}

img.cats:hover {
	border:0.35rem solid #490404;
	border-radius:60px;
	animation:mouseovercats;
	animation-duration: 0.15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	max-width:100%;
	height:auto;
}

@keyframes mouseovercats {
	from {border:0.35rem solid #520707;}
	to   {border:0.35rem solid #000000;}
}

@keyframes mouseawaycats {
	from {border:0.35rem solid #000000;}
	to   {border:0.35rem solid #520707;}
}

img.discord {
	max-width:calc(12px + 0.40621vw);
	height:auto;
}