.mainbody {
	background: linear-gradient(to top, #00000033, #00000033), url("/assets/notes/frostBG.webp") no-repeat top center;
	background-size: cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-color:black;
	padding-right:1.32vw;
	padding-left:1.32vw;
	text-align:center;
}

@font-face {
    font-family: 'interregular';
    src: url('/Inter-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
    font-family: 'interbold';
    src: url('/Inter-Bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
}

.maindiv {
	margin-bottom:calc(6vh + 18.5vw - 40px);
	padding-bottom:calc(14px + .3621vw);
	padding-top:calc(14px + .3621vw);
}

.subtitle {
	font-size:calc(18px + .45vw);
	text-align:center;
}

.sidediv {
	--first-bg-blur:calc(8px + .35vw);
	--second-bg-blur:calc(15px + .4vw);
	border:calc(2px + .15vw) solid #660606; 
	padding:calc(12px + .3521vw);
	-webkit-backdrop-filter: blur(var(--first-bg-blur));
	backdrop-filter: blur(var(--first-bg-blur));
	background-color:#070B1F00; 
	border-radius:calc(16px + 1.75vw); 
	box-shadow: 0 35px 68px 0 #070b1d80, inset 0 -8px 16px 0 #070b1d99, inset 0 5px 15px 0 #070b1d;
	animation:mouseaway;
	animation-duration: 0.15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	margin-bottom:calc(14px + .3621vw);
}

.sidediv:hover {
	animation-name:mouseover;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

p {
	color:white; 
	font-family:'interregular', Arial; 
	text-align:left; 
	font-size:calc(13px + 0.3vw);
	line-height:150%;
	padding-right:calc(18px + 1vw);
	padding-left:calc(20px + 1.5vw);
}

h1 {
	font-size:calc(34px + 1vw);
	color:white; 
	font-family:'interbold', Arial;
	font-weight:700;
	text-align:center;
	margin-bottom:0.32vw;
	animation:titleaway;
	animation-duration:.1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	--first-header-color: white;
	--second-header-color:#4cffbc;
}

h1:hover {
	animation:title;
	animation-duration:0.15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

h2 {
	color:white; 
	font-family:'interbold', Arial;
	font-size:calc(19px + 0.4621vw);
	text-align:left;
	padding-top:calc(4px - .1vw);
	padding-right:calc(16px + .4vw);
	padding-left:calc(16px + .4vw);
	animation:titleaway;
	animation-duration:.1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	--first-header-color: white;
	--second-header-color:#4cffbc;
}

h2:hover {
	animation:title;
	animation-duration:0.15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

h3 {
	color:white; 
	font-family:'interbold', Arial;
	font-size:calc(19px + .4621vw);
	text-align:left;
	padding-top:calc(4px - .1vw);
	padding-right:calc(16px + .4vw);
	padding-left:calc(10px + .8vw);
}

.footertxt {
	color:white; 
	font-family:'interregular', Arial;
	font-size:calc(19px + 0.3vw);
	text-align:left;
}

a {
	font-family:'interregular', Arial; 
	color:#D7B8F3;
	font-size:calc(13px + 0.3vw);
	animation:mouseawaylink;
	animation-duration: 0.15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

a:hover {
	color:#D4F3B9; 
	text-decoration:none;
	animation:mouseoverlink;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

a:focus {
	color:#D4F3B9; 
	text-decoration:underline dashed;
}

/* loading different resolutions depending on screen size, anything higher than 1080p just loads the original quality

 1080p */
@media screen and (max-width:2000px) {
	.mainbody {
		background: linear-gradient(to top, #00000033, #00000033), url("/assets/notes/frostBG_1080p(2000w).webp") no-repeat top center;
		background-size: cover;
		background-attachment:fixed;
		background-repeat:no-repeat;
		background-color:black;
		background-position: 50% 30%;
	}
}

/* usually mobile */
@media screen and (max-width:480px) {
	.mainbody {
		background: linear-gradient(to top, #00000033, #00000033), url("/assets/notes/frostBG_850h.webp") no-repeat top center;
		background-size: cover;
		background-attachment:fixed;
		background-repeat:no-repeat;
		background-color:black;
		background-position: 85% 50%;
	}
}

/* more contrasty version for people with vision deficiencies */
@media (prefers-contrast: more) {
	
	p {
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}
	
	a {
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}
	
	a:hover {
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}
	
	a:focus {
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}
	
	h1 {
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		--first-header-color: white;
		--second-header-color:white;
	}
	
	h2 {
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		--first-header-color: white;
		--second-header-color:white;
	}
	
	.sidediv {
		--first-bg-blur:calc(35px + 1vw);
		--second-bg-blur:calc(50px + 2vw);
	}
}

/* disabling animations for people with reduced motion on */
@media (prefers-reduced-motion: no-preference) {

	@keyframes title {
		from {color:var(--first-header-color);}
		to   {color:var(--second-header-color);}
	}

	@keyframes titleaway {
		from {color:var(--second-header-color);}
		to   {color:var(--first-header-color);}
	}

	@keyframes mouseover {
		from {background-color:#070b1f00; -webkit-backdrop-filter: blur(var(--first-bg-blur)); backdrop-filter: blur(var(--first-bg-blur)}
		to   {background-color:#070b1f33; -webkit-backdrop-filter: blur(var(--second-bg-blur)); backdrop-filter: blur(var(--second-bg-blur))}
	}

	@keyframes mouseaway {
		from {background-color:#070b1f33; -webkit-backdrop-filter: blur(var(--second-bg-blur)); backdrop-filter: blur(var(--second-bg-blur))}
		to   {background-color:#070b1f00; -webkit-backdrop-filter: blur(var(--first-bg-blur)); backdrop-filter: blur(var(--first-bg-blur))}
	}

	@keyframes mouseoverlink {
		from {color:#D7B8F3;}
		to   {color:#D4F3B9;}
	}

	@keyframes mouseawaylink {
		from {color:#D4F3B9;}
		to   {color:#D7B8F3;}
	}
}
